body {
  background: #fff;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.circular-menu {
  position: fixed;
  bottom: 2em;
  right: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1024;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: #ff4081;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #fff;
  text-align: center;
  line-height: 3.5em;
  cursor: pointer;
  outline: 0;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform 0.2s;
}

.circular-menu .floating-btn .close {
  display: none;
}

.circular-menu.active .floating-btn .icon {
  display: none;
}

.circular-menu.active .floating-btn .close {
  display: inline;
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
}

.circular-menu .menu-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3em;
  background-color: rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background 0.2s ease, z-index 0.1s ease;
  cursor: pointer;
}

.circular-menu .menu-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1;
}

/* Positioning for 4 items in perfect arc shape with LinkedIn aligned right and Twitter aligned down */
.circular-menu .menu-item:nth-child(1) { 
  --x: 0em; 
  --y: -10em; 
  background-color: #0077b5; 
}

.circular-menu .menu-item:nth-child(2) { 
  --x: -5em; 
  --y: -8.5em; 
  background-color: #3b5998; 
}

.circular-menu .menu-item:nth-child(3) { 
  --x: -8.5em; 
  --y: -5em; 
  background-color: #e1306c; 
}

.circular-menu .menu-item:nth-child(4) { 
  --x: -10em; 
  --y: 0em; 
  background-color: #1da1f2; 
}

.circular-menu.active .menu-item {
  transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y)));
}

.circular-menu .menu-item i {
  font-size: 1.2em;
}
